# ~/.config/jesseduffield/lazygit/config.yml
os:
  #   edit: "nvim"
  #   editAtLine: "{{editor}} --server /tmp/nvim-server.pipe --remote-tab {{filename}}"
  editPreset: "nvim-remote"
  editInTerminal: true
gui:
  nerdFontsVersion: "3"
  theme:
    activeBorderColor:
      - "#ff9e64"
      - "bold"
    inactiveBorderColor:
      - "#27a1b9"
    searchingActiveBorderColor:
      - "#ff9e64"
      - "bold"
    optionsTextColor:
      - "#7aa2f7"
    selectedLineBgColor:
      - "#283457"
    cherryPickedCommitFgColor:
      - "#7aa2f7"
    cherryPickedCommitBgColor:
      - "#bb9af7"
    markedBaseCommitFgColor:
      - "#7aa2f7"
    markedBaseCommitBgColor:
      - "#e0af68"
    unstagedChangesColor:
      - "#db4b4b"
    defaultFgColor:
      - "#c0caf5"
git:
  branchLogCmd: "git log --graph --color=always --abbrev-commit --decorate --date=relative --pretty=medium --oneline {{branchName}} --"
  commitPrefixes:
    jsapp:
      - pattern: "^(.*)"
        replace: "[$1] "
    youtube:
      - pattern: "^(.*)"
        replace: "[$1] "
    tts-exp:
      - pattern: "^(.*)"
        replace: "[$1] "
